.wrapper {
   max-width: 1600px;
   margin: 0 auto;
}
.container {
   max-width: 1160px;
   margin: 0 auto;
   padding: 0 20px;
}
.container-fluid {
   max-width: 1260px;
   margin: 0 auto;
   padding: 0 20px;
}
.btn {
   display: inline-block;
   font-weight: 700;
   font-size: 18px;
   padding: 18px 50px;
   border-radius: 100rem;
   background-color: transparent;
   border: 0;
   outline: none;
   cursor: pointer;
   &--primary {
      color: white;
      background-color: $primary-color;
   }
   &--secondary {
      color: $primary-color;
      border: 1.5px solid currentColor;
   }
}
.center-inline {
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
.global-dots {
   display: none;
}
@media screen and (min-width: 1280px) {
   .global-dots {
      display: block;
      position: absolute;
      z-index: -1;
   }
}

@media screen and (max-width: 1023.98px) {
   .btn {
      font-size: 16px;
      padding: 15px 40px;
   }
}
